<% (starting_time.to_date..starting_time.to_date+6).each do |day_of_week| %>
  <div class="day <%= "today" if day_of_week == current_user.utc_to_user_time(Time.now.getutc).to_date %>" >
    <h4><strong><%= day_of_week == current_user.utc_to_user_time(Time.now.getutc).to_date ? "Today" : day_of_week.strftime("%B %-d, %Y") %></strong></h4>
    <%= render partial: "day", locals: { day: day_of_week } %>
  </div>
<% end %>