<div class="container">

	<% if current_user.admin %>
		<h2>Global Post Schedule</h2>
	<% else %>
  	<h2>Scheduled Posts</h2>
  <% end %>

  <div id="calendar_container">
    <%= render partial: 'week', locals: { starting_time: @time } %>
  </div>

</div>