$('#postsContainer').append('<%= j render @feed_items %>');
<% if @feed_items.next_page %>
  $('.pagination').replaceWith('<%= j will_paginate @feed_items %>');
<% else %>
  $(window).off('scroll');
  $('.pagination').replaceWith('<h3 style="clear: both;">end of list</h3>');
<% end %>