<div class="landing_page">
	<div class="center jumbotron">
	  <h1>social media in seconds.</h1>
	</div>

	<div class="row">
		<div class="col-md-6 col-sm-12">1. Pick a post you like, and click on it.</div>
		<div class="col-md-6 col-sm-12"></div>
	</div>

	<div class="row">
		<div class="col-md-6 col-sm-12">2. Share the pre-captioned picture to your social media.</div>
		<div class="col-md-6 col-sm-12"></div>
	</div>

	<%= link_to "Start populating my social media", root_path, class: "pop-button pop-button-big" %>

	<div class="center jumbotron">
	  <h1>unify your digital presence.</h1>
	</div>

	<div class="row">
		<div class="col-md-6 col-sm-12">1. Pick a campaign you like, and click on it.</div>
		<div class="col-md-6 col-sm-12"></div>
	</div>

	<div class="row">
		<div class="col-md-6 col-sm-12">2. Download cover photos, email banners and other digital assets.</div>
		<div class="col-md-6 col-sm-12"></div>
	</div>

	<div class="row">
		<div class="col-md-6 col-sm-12">3. Throw your pre-sized and consistent content onto your digital channels.</div>
		<div class="col-md-6 col-sm-12"></div>
	</div>

	<%= link_to "I want online campaigns already made for me.", root_path, class: "pop-button pop-button-big" %>

	<div class="center jumbotron">
	  <h1>connect digitally with your clients.</h1>
	  <h2>All the content is free.</h2>
	  <div style="text-align: center;">
	  	<%= link_to "Show me the content!", root_path, class: "pop-button pop-button-big" %>
	  </div>
	</div>
</div>