<div class="landing_page">
	<div class="center jumbotron">
	  <h1>social media in seconds.</h1>
	</div>

	<div class="row">
		<div class="col-md-6 col-sm-12"><h2>1. Click on a post you like.</h2><img src="/assets/social_media_1.gif"/></div>
		<div class="col-md-6 col-sm-12"><h2>2. Share the pre-captioned picture to your social media.</h2><img src="/assets/social_media_2.gif"/></div>
	</div>

	<%= link_to "Start populating my social media", '/?feed=digital_assets', class: "pop-button pop-button-big" %>

	<div class="center jumbotron">
	  <h1>unify your digital presence.</h1>
	</div>

	<div class="row">
		<div class="col-md-6 col-sm-12"><h2>1. Click on a campaign you like.</h2><img src="/assets/campaign_1.gif"/></div>
		<div class="col-md-6 col-sm-12"><h2>2. Download the campaign assets</h2><img src="/assets/campaign_2.gif"/></div>
	</div>

	<div class="row">
		<div class="col-md-6 col-sm-12"><h2>3. Unzip the downloaded folder to reveal cover photos, email banners, infographics, and more.</h2><img src="/assets/campaign_3.gif"/></div>
		<div class="col-md-6 col-sm-12"><h2>4. Throw your pre-sized and consistent content onto your digital channels.</h2><img src="/assets/campaign_4.gif"/></div>
	</div>

	<%= link_to "I want online campaigns already made for me.", '/?feed=campaign', class: "pop-button pop-button-big" %>

	<div class="center jumbotron">
	  <h1>connect digitally with your clients.</h1>
	  <h2>All the content is free.</h2>
	  <div style="text-align: center;">
	  	<%= link_to "Show me the content!", '/?feed=digital_assets', class: "pop-button pop-button-big", style:"display: inline-block; margin: 10px auto 10px auto;" %>
	  </div>
	</div>
</div>