<p class="p1" style="font-size: 2em;">Privacy Policy</p>
<p> &nbsp; </p>
<p class="p3"><span class="s1" style="font-size: 1.3em;"><strong>Introduction</strong></span></p>
<p class="p4"><span class="s1">Our registered users (&ldquo;<strong>Members</strong>&rdquo;) share their identities, engage with other Promo Posts users (&ldquo;<strong>the Community</strong>&rdquo;), and share or distribute content relevant to the Promotional Products industry. Content and data on our Services is viewable to members anybody else who visits the website (&ldquo;<strong>Visitors</strong>&rdquo;). </span></p>
<p class="p3"><span class="s1"><strong>Services</strong></span></p>
<p class="p4"><span class="s1">This Privacy Policy applies PromoPosts.net, and other Promo Posts branded communications and services (&ldquo;<strong>Services</strong>&rdquo;).</span></p>
<p class="p3"><span class="s1"><strong>Changes</strong></span></p>
<p class="p4"><span class="s1">Promo Posts (&ldquo;we&rdquo; or &ldquo;us&rdquo;) can modify this Privacy Policy, and if we make material changes to it, we will provide notice through our Services, or by other means, to provide you the opportunity to review the changes before they become effective. If you object to any changes, you may&nbsp;close your account and refrain from the use of our services.</span></p>
<p class="p4"><span class="s1">You acknowledge that your continued use of our Services after we publish or send a notice about our changes to this Privacy Policy means that the collection, use and sharing of your personal data is subject to the updated Privacy Policy.</span></p>
<p>&nbsp;</p>
<p class="p3"><span class="s1" style="font-size: 1.3em;"><strong>Data We Collect</strong></span></p>
<p class="p3"><span class="s1"><strong>Data you provide to us</strong></span></p>
<p class="p6"><span class="s1">Registration:</span></p>
<p class="p4"><span class="s1">To create an account you need to provide data including your name and potentially your email address and a password depending on whether you choose to sign up through a social platform provider or through email.</span></p>
<p class="p6"><span class="s1">Profile:</span></p>
<p class="p4"><span class="s1">You have&nbsp;choices&nbsp;about the information on your profile, such as your photo and role in the industry. You don&rsquo;t have to provide additional information on your profile; however, profile information helps you to get more from our Services, including helping other members and visitors learn more about you. It&rsquo;s your choice whether to include&nbsp;sensitive information on your profile and to make that sensitive information public. Please do not post or add personal data to your profile that you would not want to be publicly available.</span></p>
<p class="p6"><span class="s1">Posting and Uploading:</span></p>
<p class="p4"><span class="s1">We collect data from you when you provide, post or upload to our Services. You don&rsquo;t have to post or upload data; though if you don&rsquo;t, it may limit your ability to grow and engage with your network over our Services.</span></p>
<p class="p3"><span class="s1"><strong>Service Use</strong></span></p>
<p class="p4"><span class="s1">We log usage data when you visit or otherwise use our Services, platform technology such as when you view or click on content or perform a search. We use log-ins and cookies to&nbsp;identify you and log your use.</span></p>
<p class="p3"><span class="s1"><strong>Cookies</strong></span></p>
<p class="p4"><span class="s1">As further described in our&nbsp;Cookie Policy, we use cookies and similar technologies (e.g., web beacons, pixels, ad tags and device identifiers) to recognize you, and personalize your experience. You can control cookies through your browser settings and other tools. </span></p>
<p class="p3"><span class="s1"><strong>Your Device and Location</strong></span></p>
<p class="p4"><span class="s1">When you visit or leave our Services we receive the URL of both the site you came from and the one you go to next. We also get information about your IP address, proxy server, operating system, web browser and add-ons, device identifier and features, and/or ISP or your mobile carrier. If you use our Services from a mobile device, that device will send us data about your location based on your phone settings.</span></p>
<p class="p3"><span class="s1"><strong>Other</strong></span></p>
<p class="p4"><span class="s1">Our Services are dynamic, and we consistently work on introducing new features, which may require the collection of new information. If we collect materially different personal data or materially change how we use your data, we will notify you and may also modify this Privacy Policy.</span></p>
<p>&nbsp;</p>
<p class="p5"><span class="s1" style="font-size: 1.3em;"><strong>How We Use Your Data</strong></span></p>
<p class="p4"><span class="s1">How we use your personal data will depend on how you use our Services and the choices you make in your&nbsp;settings. We use the data that we have about you to provide and personalize, including with the help of automated systems and inferences we make, our Services so that they can be more relevant and useful to you and others.</span></p>
<p class="p3"><span class="s1"><strong>Services</strong></span></p>
<p class="p4"><span class="s1">We use your data to authorize access to our Services. </span></p>
<p class="p3"><span class="s1"><strong>Stay Connected and Informed</strong></span></p>
<p class="p4"><span class="s1">Our Services allow you to stay up to date with other members of the Community and the events that happen in the industry.</span></p>
<p class="p3"><span class="s1"><strong>Advertising</strong></span></p>
<p class="p4"><span class="s1">We may serve you ads on our Services. We measure the performance of ads to Members, Visitors on our Services directly or through a variety of&nbsp;partners, using the following data, whether separately or combined:</span></p>
<ul class="ul1">
<li class="li4"><span class="s1">Data from advertising technologies on and off our Services, like web beacons, pixels, ad tags, cookies, and device identifiers;</span></li>
<li class="li4"><span class="s1">Member-provided information (e.g., profile, role in the industry);</span></li>
</ul>
<p class="p4"><span class="s1">We will show you ads called&nbsp;sponsored content&nbsp;which look similar to non-sponsored content, except that they are labeled &ldquo;ads&rdquo; or &ldquo;sponsored.&rdquo; If you take an action on these ads, your action is associated with your name and viewable by others, including the advertiser. Subject to your&nbsp;settings, if you take a social action on the Promo Posts Services,&nbsp;that action may be mentioned with related ads.</span></p>
<p class="p4"><span class="s1">We do not share your personal data with any third-party advertisers or ad networks for their advertising except for data already visible to any users of the Services (e.g. profile). However, if you view or click on an ad, the ad provider will get a signal that someone visited the page that displayed the ad, and they may through the use of mechanisms such as cookies determine it is you. Advertising partners can associate personal data collected by the advertiser directly from you with our cookies and similar technologies. In such instances, we seek to contractually require such advertising partners to obtain your explicit, opt-in consent before doing so.</span></p>
<p class="p3"><span class="s1"><strong><br />Developing Services and Research</strong></span></p>
<p class="p4"><span class="s1">We develop our Services and conduct research.</span></p>
<p class="p4"><span class="s1">We use data, including public feedback, to conduct&nbsp;research&nbsp;and development for the further development of our Services in order to provide you and others with a better, more intuitive and personalized experience, and drive membership growth and engagement on our Services.</span></p>
<p class="p3"><span class="s1"><strong>Customer Support</strong></span></p>
<p class="p4"><span class="s1">We use the data (which can include your communications) to investigate, respond to and resolve complaints and Service issues (e.g., bugs).</span></p>
<p class="p3"><span class="s1"><strong>Aggregate Insights</strong></span></p>
<p class="p4"><span class="s1">We use your data to produce and share aggregated insights that do not identify you. For example we may use your&nbsp;data to generate statistics about our members.</span></p>
<p class="p3"><span class="s1"><strong>Security and Investigations</strong></span></p>
<p class="p4"><span class="s1">We use data for security, fraud prevention and investigations. We use your data if we think it&rsquo;s necessary for security purposes or to investigate possible fraud or other violations of our&nbsp;<%= link_to "Terms of Use", terms_path %>&nbsp;or this Privacy Policy and/or attempts to harm our Members or Visitors.</span></p>
<p> &nbsp; </p>
<p class="p5"><span class="s1" style="font-size: 1.3em;"><strong>How We Share Information</strong></span></p>
<p class="p3"><span class="s1"><strong>Our Services</strong></span></p>
<p class="p6"><span class="s1">Profile:</span></p>
<p class="p4"><span class="s1">Your profile along with your activity is fully visible to all Members and Visitors of our Services. Please refrain from posting any sensitive information or content to Promo Posts. </span></p>
<p class="p6"><span class="s1">Posts, Shares and Follows:</span></p>
<p class="p4"><span class="s1">Our Services allow viewing and sharing information including through posts, shares, and follows. </span></p>
<ul class="ul1">
<li class="li4"><span class="s1">When you share a post, it can be viewed by everyone and re-shared anywhere. Members and Visitors will be able to find and see your publicly-shared content, including your name (and photo if you have provided one).</span></li>
<li class="li4"><span class="s1">When you follow a person or organization, you are visible to others and that &ldquo;page owner&rdquo; as a follower. We let senders know when you act on their message, subject to your&nbsp;settings&nbsp;where applicable.</span></li>
<li class="li4"><span class="s1">When you like or re-share on another&rsquo;s content (including ads), others will be able to view these &ldquo;events&rdquo; and associate it with you (e.g., your name, profile and photo if you provided it).</span></li>
</ul>
<p class="p3"><span class="s1"><strong>Service Providers</strong></span></p>
<p class="p4"><span class="s1">We use others to help us provide our Services (e.g., maintenance, analysis, audit, payments, fraud detection, marketing and development). They will have access to your information as reasonably necessary to perform these tasks on our behalf and are obligated not to disclose or use it for other purposes.</span></p>
<p class="p3"><span class="s1"><strong>Legal Disclosures</strong></span></p>
<p class="p4"><span class="s1">It is possible that we will need to disclose information about you when required by law, subpoena, or other legal process or if we have a good faith belief that disclosure is reasonably necessary to (1) investigate, prevent, or take action regarding suspected or actual illegal activities or to assist government enforcement agencies; (2) enforce our agreements with you, (3) investigate and defend ourselves against any third-party claims or allegations, (4) protect the security or integrity of our Service (such as by sharing with companies facing similar threats); or (5) exercise or protect the rights and safety of Promo Posts, our Members, personnel, or others. We attempt to notify Members about legal demands for their personal data when appropriate in our judgment, unless prohibited by law or court order or when the request is an emergency. We may dispute such demands when we believe, in our discretion, that the requests are overbroad, vague or lack proper authority, but we do not promise to challenge every demand. To learn more see our&nbsp;Data Request Guidelines and&nbsp;Transparency Report.</span></p>
<p class="p3"><span class="s1"><strong>Change in Control or Sale</strong></span></p>
<p class="p4"><span class="s1">We can also share your personal data as part of a sale, merger or change in control, or in preparation for any of these events. Any other entity which buys us or part of our business will have the right to continue to use your data, but only in the manner set out in this Privacy Policy unless you agree otherwise.</span></p>
<p class="p5"><span class="s1"><strong>Your Choices &amp; Obligations</strong></span></p>
<p class="p3"><span class="s1"><strong>Data Retention</strong></span></p>
<p class="p4"><span class="s1">We retain your personal data while your account is in existence or as needed to provide you Services. This includes data you or others provided to us and data generated or inferred from your use of our Services.</span></p>
<p class="p3"><span class="s1"><strong>Account Closure</strong></span></p>
<p class="p4"><span class="s1">If you choose to close your&nbsp;Promo Posts account, your personal data will generally stop being visible to others on our Services within 24 hours. We generally delete closed account information within 30 days of account closure, except as noted below.</span></p>
<p class="p4"><span class="s1">We retain your personal data even after you have closed your account if reasonably necessary to comply with our legal obligations (including law enforcement requests), meet regulatory requirements, resolve disputes, maintain security, prevent fraud and abuse, enforce our <%= link_to "Terms of Use", terms_path %>, or fulfill your request to &ldquo;unsubscribe&rdquo; from further messages from us. We will retain de-personalized information after your account has been closed.</span></p>
<p> &nbsp; </p>
<p class="p5"><span class="s1" style="font-size: 1.3em;"><strong>Other Important Information</strong></span></p>
<p class="p3"><span class="s1"><strong>Security</strong></span></p>
<p class="p4"><span class="s1">We implement security safeguards designed to protect your data, such as HTTPS. We regularly monitor our systems for possible vulnerabilities and attacks. However, we cannot warrant the security of any information that you send us. There is no guarantee that data may not be accessed, disclosed, altered, or destroyed by breach of any of our physical, technical, or managerial safeguards. Please visit our&nbsp;Safety Center&nbsp;for additional information about safely using our Services.</span></p>
<p class="p3"><span class="s1"><strong>Cross-Border Data Transfers</strong></span></p>
<p class="p4"><span class="s1">We process data both inside and outside of Canada and rely on legally-provided mechanisms to lawfully transfer data across borders. Countries where we process data may have laws which are different, and potentially not as protective, as the laws of your own country.</span></p>
<p class="p3"><span class="s1"><strong>Contact Information</strong></span></p>
<p class="p4"><span class="s1">If you have questions or complaints regarding this Policy, please first&nbsp;<%=link_to "contact", contact_path %> Promo Posts online.</span></p>