<h1>What is autoshare?</h1>

<p>If you're a social media account manager, you probably don't need yet another log in. When you turn on autoshare, everytime you post to your social media account(e.g. Facebook), your account on Promo Posts will automatically post the same content on your behalf.</p>

<p>You post to a social media platform.<br>The plaform sends your post to Promo Posts.<br>We post it on your Promo Posts page.</p>

<%= link_to accounts_edit_path(:id => current_user), :class =>"connect_link" do %>
	<span class="glyphicon glyphicon-arrow-left"></span><h5>back to your accounts</h5>
<% end %>