<h1>What is autoshare?</h1>

<p>If you're a social media account manager, you probably don't need yet another log in. When you turn on autoshare, everytime you post to your social media account(e.g. Facebook), your account on Promo Posts will automatically post the same content on your behalf.</p>

<ol>
	<li>You post to a social media platform.</li>
	<li>The plaform sends your post to Promo Posts.</li>
	<li>We post it on your Promo Posts page.</li>
</ol>

<p style="font-size: 0.9em;">Autoshares via Facebook will show up on your Promo Posts page. However, due to a data policy restriction other members of the Promo Posts community will be unable to share the post to their own social media. If you wish to make a post sharable, you must do so by creating the post on Promo Posts.</p>

<%= link_to accounts_edit_path(:id => current_user), :class =>"connect_link" do %>
	<span class="glyphicon glyphicon-arrow-left"></span><h5>back to your accounts</h5>
<% end %>