<% provide(:title, "Log in") %>
<h1>Log In/Sign Up</h1>
<h2>Join the online world of promotional products content.</h2>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

  	<span>To get the most out of Promo Posts, connect a Buffer account</span>
  	<%= render 'shared/sign_in_with_buffer' %>
  	<%= render 'shared/sign_in_with_email' %>
    <%= render 'shared/sign_in_with_fb' %>
    <%#= render 'shared/sign_in_with_linkedin' %>

  </div>
</div>