<% provide(:title, "Log in") %>
<h1>Log In/Sign Up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= render 'shared/sign_in_with_fb' %>
    <%= render 'shared/sign_in_with_linkedin' %>
    <%= render 'shared/sign_in_with_buffer' %>
    <%= render 'shared/sign_in_with_email' %>

  </div>
</div>