<p>Hey <%= @user.name %>,</p>

<p>
Welcome to the Promo Posts community!
</p>

<div class='email-cta' style="padding: 15px; width: 80%; text-align: center; background-color: #ea5455; margin: 0 auto;">
	<%= link_to "Click here to activate your account.", edit_account_activation_url(@user.activation_token, email: @user.email), :style => 'color: white; text-decoration: none;' %>
</div>

<p>
	Have fun!
</p>