<p>Hey <%= @user.name %>,</p>

<p>
Please click the link below to verify your email.
</p>

<div class='email-cta' style="padding: 15px; width: 80%; text-align: center; background-color: #ea5455; margin: 0 auto;">
	<%= link_to "Click here to activate your account.", update_email_url(@user.activation_token, email: @email, user_id: @user.id), :style => 'color: white; text-decoration: none;' %>
</div>