<%= render partial: '/shared/settings_dashboard' %>

<div class="container">
  <p class="btn-submit" id="add_overlay_btn">Add overlay</p>
  <div id="form_container">
  </div>
  
  <div>
    <h2>Your Overlays</h2>
    <div id="overlays-container">
      <%= render 'all_overlays' %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('#micropost_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 10) {
      alert('Maximum file size is 10MB. Please choose a smaller file.');
    }
  });

  $("#add_overlay_btn").click(function(){
    $("#form_container").html("<%= j render 'new_overlay' %>");
  });

</script>