<div class="user-block">
  <img class="avatar avatar-thumbnail" src="<%= user.avatar %>"/>
  <%= link_to(user.name, user, :style => "width: 200px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; display: block;") %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
  <p class="user-company" style="font-size: 0.8em;"><%= user.company %></p>
</div>