<div class="user-block">
  <div class="avatar avatar-thumbnail" style="background-image: url('<%= user.avatar %>');"></div>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
  <div>
    <%= render :partial => 'shared/accolades', :locals => {:category => user.category} %>
  </div>
</div>

<script>
  show_tooltips();
</script>