<% provide(:title, "Edit user") %>
<% provide(:button_text, "Save Changes") %>

<%= render partial: '/shared/settings_dashboard' %>

<div class="container" >
	<div style="max-width: 500px;" >
		<h2>Update profile info</h2>
		<%= render 'form' %>
	</div>

	<div style="margin-top: 40px;">
		<%= link_to "delete my account", current_user, method: :delete, data: { confirm: "Are you sure you want to delete your account?" } %>
	</div>
</div>