<% provide(:title, "Edit user") %>
<% provide(:button_text, "Save Changes") %>

<%= render partial: '/shared/settings_dashboard' %>

<div class="container" >
	<div style="max-width: 500px;" >
		<h2>Update profile info</h2>
		<%= render 'form' %>
	</div>
</div>