<% provide(:title, "Edit user") %>
<% provide(:button_text, "Save Changes") %>
<h1>update your profile</h1>

<div class="row">
	<div class="col-md-3">
		<div class="avatar" style="background-image: url('<%= current_user.avatar %>'); height: 150px; width: 150px; border: 2px solid $sigBlue;"></div>
	</div>
	<div class="col-md-6">
		<%= render 'form' %>
	</div>
</div>