$('#usersIndex').append('<%= j render @users %>');
<% if @users.next_page %>
  $('.pagination').replaceWith('<%= j will_paginate @users %>');
<% else %>
  $(window).off('scroll');
  $('.pagination').replaceWith('<h3 style="clear: both;">end of list</h3>');
<% end %>