<% provide(:title, 'Sign up') %>
<% provide(:button_text, 'Sign Up') %>

<div class="container front-form" style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/assets/splash-signup.jpg');">
	<div class="row">
	  <div class="col-md-6 col-sm-offset-6 col-md-offset-0 form-holder">
	  	<h3>Sign up</h3>
	    <%= render 'form' %>
	    <p>Already have an account? <%= link_to "Log in now!", login_path %></p>
	  </div>
	</div>
</div>