<div class='accolades'>
  <% if category != 'none' %>
    <div class='categoryTag <%= category %>Tag' data-toggle="tooltip" data-placement="top" title="<%= category %>" style="display: inline-block; padding: 5px;"><%= category %></div>
  <% end %>
</div>