<%= link_to "/auth/#{provider}?intent=connect", class: 'connect_link' do%>
  <span class="glyphicon glyphicon-transfer" style="display: inline-block;"></span><h5 style="display: inline-block; margin-left: 5px;">Connect your <%= provider.upcase_first %> account </h5>
<% end %>