<% if provider == 'linkedin' %>
	<%= link_to "/sessions/oauth2?provider=linkedin", class: 'connect_link' do%>
	  <span class="glyphicon glyphicon-transfer" style="display: inline-block;"></span><h5 style="display: inline-block; margin-left: 5px;">Connect your <%= provider.upcase_first %> account </h5>
	<% end %>
<% else %>
	<%= link_to "/auth/#{provider}?intent=connect", class: 'connect_link' do%>
	  <span class="glyphicon glyphicon-transfer" style="display: inline-block;"></span><h5 style="display: inline-block; margin-left: 5px;">Connect your <%= provider.upcase_first %> account </h5>
	<% end %>
<% end %>