<div class="feed">
  <ol id="postsContainer" class="microposts microposts-grid" style="padding: 0px;">
    <% if @feed_items %>
      <% @feed_items.each do |item| %>
        <% user = item.user %>
        <%= render item %>
      <% end %>

    <% end %>
  </ol>

  <div id="infinite-scrolling">
	 <% if @feed_items && @feed_items.any? %>
  	  <%= will_paginate @feed_items %>
  	<% else %>
  	  <h4>There are no posts here! (Follow some people or create a post!)</h4>
  	<% end %>
  </div>

</div>

<script>
  show_tooltips();
</script>