<div class="modal fade" tabindex="-1" role="dialog" id="the-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content" id="modal-content-container">
      
    </div>
  </div>
</div>

<script>
  $('#the-modal').modal({show: false});
</script>