<%= link_to(:controller => :sessions, :action => :oauth2, :provider => 'linkedin') do %>
  <div class="linkedin-login social-login">
    <img src="assets/linkedin.svg">
    <h6>Log in with LinkedIn </h6>
  </div>
<% end %>