<%= link_to("/auth/buffer?intent=sign_in") do%>
  <div class="facebook-login social-login">
    <img src="https://static.addtoany.com/buttons/facebook.svg">
    <h6>Sign in with Buffer </h6>
  </div>
<% end %>