<%= link_to("/auth/buffer?intent=sign_in") do%>
  <div class="buffer-bg social-login">
    <img src="assets/buffer.svg">
    <h6>Log In/Sign Up with Buffer</h6>
  </div>
<% end %>

<a href="https://buffer.com/" target="_blank" style="font-size: 0.8em;">What the heck is Buffer?</a>