<% Topic.order("id ASC").where(disabled: false).each do |topic| %>
  <% if current_user.topics.include?(topic) %>
  	<% link_class = "picked" %>
  	<% link_disable = false %>
  <% elsif current_user.topics.count >= Topic.topics_limit %>
    <% link_class = "maxed-out" %>
    <% link_disable = true %>
  <% end %>
  <%= button_to update_topics_path(topic: topic), remote: true, disabled: link_disable, class: link_class, style: "background-image: url('#{topic.picture}'); " do %>
	  <div>
	  	<p><strong><%= topic.name %></strong></p>
	  </div>
  <% end %>
<% end %>