<h3>(1/4) What topics do you want to populate your social media with?</h3>

<p>pick <%= Setting.topics_limit %> topics</p>
<div class="topics_layout" id="topics_container">
	<%= render "/shared/topics_layout" %>
</div>