<div class="page-wrapper">
	<%= check_box_tag("event[pages][]", value = page_id, checked = false, options = {})%>
	<!--
	<div class="img-holder">
		<img class="thumbnail-page" src="https://graph.facebook.com/<%= page_id %>/picture"/>
	</div>
-->
	<h6 class="page-name"><%= page_name %></h6>
</div>