<% provide(:title, "Create a post") %>

<div class="container">
	<div class="row">
		<div class="col-md-9 col-sm-12 form-holder">
			<h1>Create a post</h1>
			<%= render 'shared/micropost_form' %>
		</div>
	</div>
</div>