<div class="row">
	<h1>Share a post</h1>
	<div class="post_block col-md-2">
	    <%= render 'shared/user_info_condensed' %>
	</div>
	<div class="post_block col-md-8">
		<%= render 'shared/micropost_form' %>
	</div>
</div>