@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

//Color Palette:
$yellow0: #f4af0c;
$yellow1: #ffb400;
$yellow2: #ffc95c;
$yellow3: #ffe4ae;
$yellow4: #f9eed7;
$blue1: #2d4059;
$blue2: #3d5875;
$blue3: #54799b;
$blue4: #97c2dd;
$blue5: #ceddea;
$blue6: #dae5f7;
$grey1: #283642;
$grey2: #48565e;
$grey3: #9aa9b7;
$grey4: #d7dde2;
$grey5: #f6f6f6;
$grey6: #ffffff;
$teal1: #053b4c;
$teal2: #1a5d72;
$teal3: #437f97;
$teal4: #66b4cc;
$teal5: #a1d6e2;
$teal6: #d7ebf2;
$red1: #6b262c;
$red2: #b72e35;
$red3: #ea5455;
$red4: #ef9297;

/* universal */

body {
  padding-bottom: 50px; /* give fixed footer some room */
  background-color: $grey5;
}

.container{
  padding-top: 10px;
}

textarea {
  resize: vertical;
}

.btn-large{
  border: none;
  display: block;
  background-color: $yellow1;
  &:hover{
    text-decoration: none;
  }
  div{
    display: inline-block;
    padding: 10px 15px;
    margin: 0px;
  }
  .icon{
    background-color: $grey6;
    color: $blue1;
  }
  .text{
    color: $blue1;
  }
}

.btn-submit{
  padding: 10px;
  max-width: 500px;
  border: none;
  display: inline-block;
  background-color: $yellow1;
  cursor: pointer;
  border-radius: 0px;
}

.btn-submit-full-width{
  max-width: none;
}

.btn-disable{
  background-color: $grey3;
  color: $grey5;
}

.btn-discourage{
  background-color: $grey2;
  color: $grey5;
}

.link{
  color: $teal3;
  cursor: pointer;
}

/* forms */

input, textarea, select {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  &:focus{
    outline: none;
  }
}

input[type="text"], input[type="email"], input[type="password"], input[type="textbox"], input[type="url"], textarea {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid $grey3;
  background-color: $grey6;
  padding-left: 5px;
}

input[type="text"], input[type="email"], input[type="password"], input[type="url"]{
  height: 30px;
}

input[type="submit"]{
  border: none;
}

select{
  background-color: $grey6;
  border: none;
}

.select-background{
  border-bottom: 1px solid $grey3;
  background-color: $grey6;
}

//action buttons
.action_buttons_container, .post-filter{
  display: grid;
  grid-gap: 10px 5px;
}

/* Post filter / search */
.post-filter{
  .select-background{
    margin: 0px;
  }
  select{
    height: 40px;
  }
  .searchBar{
    form{
      width: 100%;
      display: inline-block;
      height: 40px;
    }
    form, button{
      display: inline-block;
    }
    input{
      width: calc(100% - 45px);
      background-color: $grey6;
      padding-left: 15px;
      display: inline-block;
      margin: 0px;
    }
    input, button{
      height: 40px !important;
    }
    button{
      vertical-align: top;
      border: none;
      background-color: $yellow1;
      width: 40px;
    }
  }
}

/* post category select */
.post_category_select{
  select{
    height: 30px;
  }
}

/* TYPOGRAPHY */

h1, h2, h3, h4, h5, h6, ul, li, p, div, span, body{
  font-family: 'Bai Jamjuree', sans-serif;
  color: $grey1;
}

/* HEADER */
/* /views/layouts/_header.html.erb */
header{
  background-color: $blue1;
  padding: 5px 25px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0px;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  #logo{
    font-size: 1.7em;
    color: $yellow1;
    letter-spacing: -1px;
    max-width: 70%;
    width: 300px;

    a{
      display: flex;
      align-items: center;
      text-decoration: none;
    }
    h3{
      color: $yellow1;
      margin: 10px;
      display: inline-block;
      white-space: nowrap;
      span{
        font-size: 0.5em;
        color: #ffffff;
      }
    }
    img{
      width: 40px;
      display: inline-block;
    }

    &:hover {
      h3{
        color: $grey5;
      }
    }
  }

  nav{
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 100%;
    width: 375px;
    height: auto;
    display: grid;
    justify-content: space-around;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 10px 10px;
    h4{
      color: $yellow1;
    }
    a{
      background-color: $yellow1;
      text-decoration: none;
      text-align: center;
      line-height: 35px;
      color: $blue1;
      span{
        width: 100%;
        text-align: center;
        padding: 10px 20px;
        color: $blue1;
        font-size: 1.2em;
      }
    }
  }
}

/* SPLASH BANNER */
.splash{
  height: 450px;
  padding: 20px 40px;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  div{
    width: 100%;
  }

  h1{
    margin: 5px;
    color: $grey6;
    font-weight: 100;
  }
  h3{
    margin-top: 5px;
    color: $grey6;
    font-weight: 700;
  }
  hr{
    border: 2px solid $grey5;
    margin: 10px 5px;
  }
  .btn-hero{
    border: none;
    background-color: $yellow1;
    color: $blue1;
    padding: 10px 30px;
    font-size: 1.5em;
  }
}

.short-splash{
  height: auto;
}

/* Front Forms */
.front-form{
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/assets/splash-bg.jpg');
  background-size: cover;
  padding: 30px;
  .form-holder{
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
  }
  h2{
    color: $grey5;
  }
}

/* FEED */

.campaign_item{
  margin-bottom: 10px;
  h2{
    margin: 2px 0px 2px 0px;
    text-align: left;
    font-size: 1.5em;
    color: $blue3;
  }
  p{
    margin: 2px 0px 2px 0px;
  }
  .category-title{
    margin: 0px;
  }
}

.slider{
    height: 300px;
    width: 100%;
    overflow: scroll;
    white-space: nowrap;
    padding: 0px;
    .slider-block{
      display: inline-block;
      height: 100%;
      margin-right: 20px;
      position: relative;
      img{
        height: calc(100% - 20px);
      }
      p{
        position: absolute;
        top: 0px;
        background-color: $grey5;
        padding: 3px 5px;
      }
      &:hover p{
        display: none;
      }
    }
}

//feed layout
.masonry{
  width: 100%;
  .grid-col{
    width: 100%;
    display: inline-block;
    vertical-align: top;
  }
  .grid-col-2, .grid-col-3{
    display: none;
  }
  .masonry-item{
    display: inline-block;
    position: relative;
    width: 100%;
    img{
      padding: 5px;
    }
    p{
      position: absolute;
      top: 0px;
      left: 5px;
      z-index: 10;
      background-color: $grey5;
      padding: 3px 5px;
    }
    &:hover p{
      display: none;
    }
  }
}

/* 2 columns at medium size */
@media ( min-width: 768px ) {
  .masonry{
    .grid-col{
      width: 49%;
    }
    .grid-col-2{
      display: inline-block;
    }
  }
}

/* 3 columns at large size */
@media ( min-width: 1080px ) {
  .masonry{
    .grid-col{
      width: 33%;
    }
    .grid-col-3{
      display: inline-block;
    }
  }
}

/* Dash Board */

.dashboard{
  padding: 5px 10px;
  width: 100%;
  border-bottom: 1px solid $grey4;
  .col{
    margin-top: 5px;
    padding: 0px 5px;
  }
  .admin-btn{
    background-color: $red3;
    span, h3, h4{
      color: $grey6;
    }
  }
}

#dash-sub{
  background-color: $blue5;
}

// user info snippet
.user_info{
  margin-top: 5px;
  img{
    object-fit: cover;
    object-position: center;
    display: inline-block;
    vertical-align: top;
  }
}
.text-info{
  display: inline-block;
  vertical-align: top;
  margin-left: 5px;
  h3{
    margin: 0px;
    font-weight: 600;
  }
}

/* Basic layout */
.base-layout{
  .left-panel .right-panel{
    width: 100%;
  }
}

.campaign_tag{
  background-color: $blue5;
  padding: 10px;
  margin: 5px 0px;
  span, a{
    color: $blue2;
    font-weight: 600;
  }
}

/* Calendar */
.day{
  padding: 5px;
  h4{
    border-bottom: 2px solid $grey4;
  }
  .listed_post{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3px;
    img{
      height: 30px;
    }
    span{
      white-space: nowrap;
    }
  }
}

.today{
  background-color: $blue6;
}

/* scheduled post modal */
.scheduled_post_content{
  width: 100%;
  height: 100%;
  .account{
    margin: 10px;
    div{
      height: 50px;
      img{
        margin: 5px;
        max-height: 100%;
      }
    }
  }
  .main-image{
    max-width: 100%;
    max-height: 100%;
  }
}

/* Topics */
.topics_layout{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: 1fr;
  grid-gap: 10px;
  a, div{
    background-color: $blue1;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    p{
      color: $grey5;
    }
  }
  .picked{
    background-color: $blue4;
    p{
      color: $blue1;
    }
  }
  .maxed-out{
    background-color: $grey3;
    color: $grey5;
  }
}

/* FOOTER */

footer{
  position: fixed;
  left: 0px;
  bottom: 0px;
  padding: 0px 20px;
  background-color: $grey2;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .docs_links{
    p{
      color: $grey5;
      display: inline-block;
      margin-right: 10px;
      margin-bottom: 0px;
    }
    div{
      display: inline-block;
      a{
        color: $grey5;
        font-size: 0.7em;
      }
    }
  }
  .social_links{
    p{
      display: inline-block;
      margin-right: 10px;
      color: $grey5;
    }
    img{
      width: 15px;
    }
  }
}

/* Onboarding */
.onboarding_page{
  .connect-container{
    .social-button{
      padding: 10px;
      img{
        max-height: 40px;
        margin-right: 10px;
      }
      &:hover{
        color: $grey5;
      }
    }
  }
  .footer{
    text-align: right;
    .btn-next{
      display: inline-block;
      background-color: $yellow1;
      margin: 10px;
      padding: 10px 25px;
      a{
        color: $blue1;
      }
    }
  }
}

@media (max-width: 768px){
  footer{
    margin-top: 20px;
    position: static;
  }
}

/* errors */
.alert{
  border-radius: 0px;
  font-weight: 700;
  padding: 10px 20px;
  margin: 0px;
  color: $grey5;
  a,span{
    color: $grey5;
  }
}

.alert-danger, .alert-warning{
  background-color: $red3;
  border: 5px solid $red3;
}

.alert-danger-list{
  li{
    color: $red2;
  }
}

.alert-success, .alert-info{
  background-color: $blue3;
  border: 5px solid $blue3;
}

// user form

.categoryLabel{
  display: inline-block;
  padding-right: 30px;
  margin-bottom: 15px;
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.social-accounts-wrap{
  display: block;
  margin: 10px;

  input, div, h6{
    display: inline-block;
    width: auto;
  }

  input{
    margin: 0 20px;
  }
}

/* Users index */

.users-gallery{
  text-align: center;
  .user-block{
    text-align: left;
    margin-bottom: 15px;
    display: inline-block;
    width: 200px;
    vertical-align: top;
    border-bottom: 2px solid $grey4;
    padding: 5px;
  }
}

/* accounts display */

.page-name{
  display: inline-block;
}

.thumbnail-page{
  display: inline-block;
  width: 32px;
  height: 32px;
  padding: 0px;
}

.img-holder{
  height: 32px;
  padding: 0px;
  display: inline-block;
}

.connect_link{
  span, h5{
    color: $teal3;
    display: inline-block;
  }

  &:hover{
    span, h5{
      color: $yellow1;
    }
  }
}

#shareContainer{
  .SoMeIcon{
    width: 32px;
    height: 32px;
    display: block;
    margin-bottom: 10px;
    margin-right: 3px;
  }
  .img-holder{
    display: inline-block;
  }
}

#pagesContainer{
  margin-bottom: 10px;  

  h6{
    display: inline-block;
    clear: right;
  }  
  a{
    text-decoration: none;
  }
  a:hover{
    text-decoration: none;
  }
}

.page-wrapper{
  input, .img-holder{
    display: inline-block;
  }
  input{
    width: 30px;

    &:hover{
      cursor: pointer;
    }
  }
}

.mini-error{
  color: $red2;
  font-size: 0.8em;
  margin-left: 5px;
}

/* CAMPAIGN */

.post_carousel{
    img{
      max-height: 300px;
      max-width: 100%;
    }
}

.arrow{
  margin: 0px 5px;
  cursor: pointer;
}

.carousel_radio_buttons{
    input{
      display: none;
    }
}

/* OVERLAYS */

.new_image_bg{
  max-width: 100%;
  max-height: 300px;
}

.overlay_container{
  position: absolute;
  cursor: all-scroll;
}

.overlay_input{
  display: none;
}

.overlay_handle {
  width: 0px;
  height: 0px;
  margin-right: -10px;
  margin-bottom: -10px;
  border-left: 10px solid transparent;
  border-bottom: 10px solid $yellow1;
  cursor: se-resize;
  position:absolute;
  right: 0;
  bottom: 0;
}

.default_location_options{
  display: none;
  position: absolute;
  background-color: $yellow1;
  padding: 10px;
  .header{
    font-size: 1.3em;
    display: flex;
    justify-content: space-between;
    margin: 5px;
    span{
      padding: 0px 5px;
    }
  }
  .demo-box{
    background-color: $grey5;
    height: 100px;
    width: 200px;
    padding: 5px;
    display: flex;
    justify-content:space-between;
    flex-wrap:wrap;
    a{
      display:flex;
      flex: 0 1 50%;
      flex-direction:column;
    }
    a:nth-child(3), a:last-child{
      align-self:flex-end;
    }
    a:nth-child(2) span, a:last-child span{
      align-self:flex-end;
    }
  }
}

@media ( max-width: 768px ){
  .overlay_handle {
    margin-right: -25px;
    margin-bottom: -25px;
    border-left: 25px solid transparent;
    border-bottom: 25px solid $yellow1;
  }
}

/* Info pages */
.info-section{
  width: 100%;
  margin: 0px;
  padding: 15px 30px;
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  .col{
    align-self: center;
    img{
      max-height: 350px;
      max-width: 100%;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
}

.pagination{
  margin: 0px;
  ul, ol, li{
    display: none;
  }
}

.hide{
  display: none;
}

.inactive{
  display: none;
}

//social buttons
.social-button{
  color: white;
  display: block; 
  padding: 5px 10px;
  margin: 5px 0px 5px 0px;

  img{
    width: 32px;
    height: 32px;
    display: inline-block;
  }
  h6{
    margin: 0 5px;
    color: white;
    display: inline-block;
  }
}

.social-button-short{
  display: inline-block;
}

.facebook-bg{
  background-color: #3b5998;
}
.linkedin-bg{
  background-color: #0077b5;
}
.instagram-bg{
  background-color: #E1306C;
}
.twitter-bg{
  background-color: #38A1F3;
}
.pinterest-bg{
  background-color: #c92228;
}
.buffer-bg{
  background-color: #323b43;
}
.email-bg{
  background-color: $teal3;
}
.greyed-out-bg{
  background-color: $grey3;
}

//attach avatars to image
.avatar{
  vertical-align: top;
  object-position: center;
  object-fit: cover;
}

.avatar-thumbnail{
  height: 70px;
  width: 70px;
}

.avatar-mini{
  height: 45px;
  width: 45px;
}

.tooltip{
  opacity: 1 !important;

  .tooltip-inner{
    background-color: $yellow1 !important;
    color: $blue1 !important;
    opacity: 1;
  }
  .tooltip-arrow{
    border-top-color: $yellow1 !important;
  }
}

.email-notif-disabled{
  label, h3{
    color: $grey3;
  }
}