@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

//Color Palette:
$yellow0: #f4af0c;
$yellow1: #ffb400;
$yellow2: #ffc95c;
$yellow3: #ffe4ae;
$yellow4: #f9eed7;
$blue1: #2d4059;
$blue2: #3d5875;
$blue3: #54799b;
$blue4: #97c2dd;
$blue5: #ceddea;
$blue6: #dae5f7;
$grey1: #283642;
$grey2: #48565e;
$grey3: #9aa9b7;
$grey4: #d7dde2;
$grey5: #f6f6f6;
$grey6: #ffffff;
$teal1: #053b4c;
$teal2: #1a5d72;
$teal3: #437f97;
$teal4: #66b4cc;
$teal5: #a1d6e2;
$teal6: #d7ebf2;
$red1: #6b262c;
$red2: #b72e35;
$red3: #ea5455;
$red4: #ef9297;

@mixin vertical-align($position: relative) {
  position: $position;
  /*top: 50%;*/
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  padding-top: 60px;
  padding-bottom: 50px; /* give fixed footer some room */
  background-color: $grey5;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.pop-button{
  text-align: center;
  border-radius: 5px;
  background-color: $yellow1;
  color: $blue1;
  padding: 10px 20px;
  font-weight: 700;

  p, h3, span{
    margin: 0px;
  }

  &:hover{
    background-color: $yellow3;
    text-decoration: none !important;
    color: $blue1;
    cursor: pointer;
    p, h3, span{
      color: $blue1;
      margin-bottom: 0px;
    }
  }

  a:hover{
    text-decoration: none !important;
  }
}

.pop-button-grey{
  text-align: center;
  border: none;
  background-color: $grey3;
  color: $grey5;
  padding: 10px 20px;
  font-weight: 700;

  &:hover{
    background-color: $grey4;
  }
}

.admin-button{
  border: none;
  background-color: $red3;
  color: $grey5;
  padding: 10px 20px;
  font-weight: 700;
}

.grey-submit{
  &:hover{
    background-color: $grey4;
    color: $grey2;
    border-top: 3px solid $grey3;
    border-left: 3px solid $grey3;
    border-bottom: none;
    border-right: none;
  }
}

.follow-btn{
  border: none;
  border-radius: 0px;
  background-color: $yellow1;
  display: inline-block;
  box-shadow: 2px 2px $grey2;

  div, span{
    display: inline-block;
    color: $grey1;
    margin-left: 3px;
  }
  &:hover{
    background-color: $yellow3;
    div, span{
      color: $grey1;
    }
  }
}

.unfollow-btn{
  border: none;
  border-radius: 0px;
  background-color: $grey3;
  box-shadow: 2px 2px $grey2;

  div, span{
    display: inline-block;
    color: $grey5;
    margin-left: 3px;
  }

  &:hover{
    background-color: $grey4;
    div, span{
      color: $grey2;
    }
  }
}

.follow-large{
  width: 150px;
  height: 50px;
  font-size: 1.5em;
}

.follow-small{
  font-size: 0.9em;
}

header, .navbar-inverse, .navbar-fixed-top{
  background-color: $blue1 !important;
  border: none;
}

.navbar-nav, .navbar-right{
  li, a, span{
    color: $grey5;
  }
  a:hover{
    color: $yellow1 !important;
  }
}

.jumbotron{
  background-color: $blue5;
  border-radius: 0px !important;
  padding-top: 20px;
  padding-bottom: 20px;
  color: $blue1;

  h1{
    font-size: 3.5em;
    font-weight: 600;
  }
  h2{
    font-size: 1.5em;
  }
}

#footerContainer{
  position: fixed;
  left: 0px;
  bottom: 0px;
  padding: 0px 20px;
  background-color: $grey5;
  width: 100%;
  border-top: 1px solid $grey4;
  p{
    display: inline-block;
    color: $grey3;
    font-size: 0.7;
  }
  .policy-link{
    font-size: 0.6em;
    margin-right: 5px;
  }
}

#quickstart-wizard{
  h2{
    font-size: 2.5em;
    margin-bottom: 0px;
  }
  span{
    font-size: 2em;
    text-align: center;
  }
  .col{
    padding: 10px;
  }
  .pop-button{
    height: 175px;
    font-size: 1.3em;
    width: 100%;
  }
}

#decline-wizard{
  span{
    font-size: 1.1em;
    color: $blue3;
  }
}

.heading-blue{
  background-color: $blue6;  
}

/* TYPOGRAPHY */

h1, h2, h3, h4, h5, h6, ul, li, p, div, span, body{
  font-family: 'Bai Jamjuree', sans-serif;
  color: $grey1;
}
a{
  font-family: 'Bai Jamjuree', sans-serif;
  color: $blue3;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}

p {
  font-size: 1.1em;
  line-height: 1.4em;
}

/* HEADER */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: $yellow1;
  letter-spacing: -1px;
  font-weight: bold;
  padding-bottom: 5px;
  text-decoration: none;

  h3{
    color: $yellow1;
    text-decoration: none;
    margin: 10px;
  }

  &:hover {
    text-decoration: none;

    h3{
      color: $grey5;
      text-decoration: none;
    }
  }
}

/* DROP DOWN */
.navbar .open a{
    background-color: $grey4 !important;
    color: $grey1 !important;
    white-space: normal !important;
    border-bottom: 1px solid $grey4 !important;
    span{
      color: $blue1;
    }
    &:hover{
      border-bottom: 1px solid $grey4 !important;
    }
}

.dropdown-menu{
  padding: 0px;
  width: 300px;
  border-radius: 0px;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  max-height: calc(100vh - 50px);
  overflow: scroll;
  background-color: $grey4;

  li a:hover{
    background-color: $yellow1 !important;
    color: $grey1 !important;
    span{
      color: $grey2;
    }
  }
}

li > .dropdown > .open:focus {
  outline: none;
}

.dropdown-backdrop{
  margin-top: 50px;
}

.has_notifications{
  color: $yellow1 !important;
}

.notification-bullet{
  list-style: none;
  border-bottom: 1px solid $blue1;
  p{
    color: $grey1;
    background-color: $grey4;
  }
}

.navbar-inverse .navbar-nav > li > a {
  color: $grey5;
}

.btn-group{
  padding-top: 15px;
  position: static;
}

/* FOOTER */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;

  a {
    color: $blue1;

    &:hover {
    color: $yellow1;
    }
  }

  small {
    float: left;
    margin-left: 5%;
  }

  ul {
  float: right;
  list-style: none;
  margin-right: 5%;
  }

  ul li {
  float: left;
  margin-left: 15px;
  }

}

/* post form */

.post_block{
  padding: 10px 5px;
}

.avatar_edit {
  margin-top: 15px;
}

#avatarBacking{
  background-color: $grey5;
}
.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $grey4;
    color: $blue1;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: $yellow1;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .avatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

#user_display{
  display: inline-block;
  width: 200px;
  h1{
    font-size: 2.2em;
  }
  .avatar{
      height: 150px;
      width: 150px;
      background-position: center;
      margin: 0 auto;
    }
}
.user_company span{
  color: $grey3;
}

#mobile_user_display{
  display: none;
}

#coverPhoto{
  width: calc( 100% - 250px );
  display: inline-block;
  vertical-align: top;
}

/* forms */

input, textarea, select, .uneditable-input {
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input[type="text"], input[type="email"], input[type="password"], input[type="textbox"]{
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid $grey3;
  border-radius: 5px;
  background-color: $grey6;
}

input[type="submit"]{
  border: none;
}

.form-control[readonly]{
  background-color: $grey4 !important;
}

input {
  height: auto !important;
  &:focus{
    outline: none;
  }
}

button{
  border-radius: 5px;
}

#error_explanation {  
  color: $red3;
  .alert{
    border-radius: 0px;
    border: 5px solid $red3;
    
  }
  ul {
    margin: 0 0 30px 0;
  }
}

.alert-danger{
  background-color: transparent !important;
  color: $red3;
  font-weight: 700 !important;
  border: 5px solid $red3;
  border-radius: 0px;
}

.alert-success{
  background-color: transparent !important;
  color: $blue1;
  border: 5px solid $blue1 !important;
  font-weight: 700 !important;
}

.alert-info{
  background-color: transparent !important;
  color: $blue1;
  border: 5px solid $blue1 !important;
  font-weight: 700 !important;
}

.alert-warning{
  background-color: transparent !important;
  color: $blue1;
  border: 5px solid $blue1 !important;
  font-weight: 700 !important;
  a{
    color: $red3;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.categoryLabel{
  display: inline-block;
  padding-right: 30px;
  margin-bottom: 15px;
}

.fb_autoshare_box{
  label, input{
    display: inline-block;
    width: auto;
  }
}

.fb-settings-wrapper{
  display: block;
  margin: 10px;

  input, div, h6{
    display: inline-block;
    width: auto;
  }

  input{
    margin: 0 20px;
  }
}

.social-accounts-wrap{
  margin-left: 50px;
}

/* Users index */

.users-gallery{
  text-align: center;
  .user-block{
    text-align: left;
    margin-bottom: 15px;
    display: inline-block;
    width: 200px;
    vertical-align: top;
    border-bottom: 2px solid $grey4;
    padding: 5px;
  }
}

.categoryTag{
  display: inline-block;
  vertical-align: top;
  font-size: 0.8em;
}

.vendorTag{
  background-color: $teal4;
  color: $grey5;
}

.distributorTag{
  background-color: $teal3;
  color: $grey5;
}

.adminTag{
  background-color: $blue1;
  color: $grey5;
}

/* microposts */

.microposts {
  list-style: none;
  padding: 0;

  .user {
    display: inline-block;
    padding-top: 0;
    font-size: 1.3em;
    vertical-align: top;
  }
  li{
    padding: 10px 0;
  }
  .user-info{
    min-height: 50px;
    .user{
      width: calc(100% - 85px);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .user-company{
      color: $grey3;
      font-size: 0.8em;
    }
  }
  .content {
    display: block;
    
    img {
      display: block;
      padding: 5px 0;
      max-width: 100%;
    }
  }
  .avatar {
    display: inline-block;
    margin-right: 10px;
  }
  .noPic{
    display: none;
  }
}

.microposts-grid{
  .section{
    display: block;
    clear: both;
  }
  li{
    display: inline-block;
    vertical-align: top;
    width: 95%;

    border: none;
  }
  
  .content{
    vertical-align: top;
    overflow: hidden;
    margin-left: 0px;

    img{
      width: 100%;
      object-fit: cover;
      padding: 0px;
    }

    .square{
      padding-top: 100%;
      background-size: cover;
      background-position: center;
      position: relative;
    }

    .noPic{
      display: block;
      width: 100%;
      font-size: 1.2em;
      white-space: normal;
      text-align: center;
      height: 0px;

      strong{
        margin-top: -50%;
        display: block;
        @include vertical-align;
      }
    }

    .content-minified{
      height: 5em;
      display: block;
    }
    .content-full{
      display: none;
    }

  }
}

.timestamp{
  display: block;
  color: $grey3;
  font-size: 0.8em;

  a{
    margin: 0 5px;
  }
}

.go-to-post{
  .go-to-post-link{
    color: $grey3;
    font-size: 0.8em;
    margin-left: 15px;
  }
}

.go-to-external-link{
  color: $grey3;
  font-size: 0.8em;
  margin-left: 15px;
  span{
    color: $grey3;
  }
}

.click-to-comments{
  &:hover{
    text-decoration: underline;
  }
}

.top-comment{
  color: $yellow1;
}

.questionBack{
  background-color: $blue3;
  color: $grey5;
}

.careersBack{
  background-color: $blue2;
  color: $yellow3;
}

.defaultBack{
  background-color: $blue1;
  color: $yellow1;
}

.clickToShare{
  opacity: 0.8;
  transition: .3s ease;
  position: absolute;
  bottom: 0px;
  padding: 10px 10px 0px 10px;
  left: 0px;
  z-index: 100;
  background-color: $yellow1;
  color: $blue1;
  font-size: 14px;
}

.clickToView{
  background-color: $blue1 !important;
  p{
    color: $grey5 !important;
  }
}

.microposts-full{
  .content{
    img{
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }

    .square{
      padding-top: 75%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: relative;
    }

  }  
  p{
    height: auto !important;
  }
  .content-minified{
    display: none;
  }
  .content-full{
    display: block;
  }
}

#micropost-page{
  .content{
    p{
      padding: 10px;
      border-top: 2px solid $grey4;
      border-bottom: 2px solid $grey4;
    }
  }
}

.create_post_buttons{
  padding: 5px;
}

.download-button{
  margin: 10px 5px 15px 5px;
  &:hover{
    text-decoration: none !important;
  }
}

#digital_asset_buttons{
  background-color: $teal6;
}

.modal-dialog{
  width: 75%;
}

.link_to_post{
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  span{
    display: inline-block;
    margin: 0px 10px;
  }
  p{
    display: inline-block;
  }

  &:hover{
    span, p{
      color: $teal3;
    }
  }

}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

#feeds{
  margin-bottom: 5px;
  a{
    text-decoration: none;
  }
}

.tab{
  display: inline-block;
  padding: 15px;
  font-weight: 800;
  background-color: $yellow1;
  color: $grey1;
  border-radius: 5px;
  margin: 10px 5px;
  &:hover{
    background-color: $yellow3;
    color: $blue1;
  }
}

.tab-active{
  background-color: $yellow3 !important;
  color: $blue1;
  box-shadow: none;
}

.tab-digital{
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: $yellow1;
}

.createPost{
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px 7px;
  &:hover{
    text-decoration: none;
  }
}

.feed{
  ul, ol, li, .pagination{
    margin: 0px;
  }
}

.col-md-3{
  .user{
    &:after{
      content: "\A";
      white-space: pre; 
    }  
  }
  .timestamp a::after{
    content: "\A";
    white-space: pre; 
  }
}

.comment{
  .avatar{
    display: inline-block;
  }
  border-left: 1px solid $blue1;
}

.comment_message{
  font-size: 1.4em;
  display: inline-block;
  padding-left: 15px;
}

.voted{
  color: $yellow1;
}

#profile-edit-link{
  display: inline-block;
  margin-bottom: 15px;
}

#allLists{
  h3{
    background-color: $grey1 !important;
    border: none;
    color: $grey1;
    font-size: 1.3em;
  }
  .ui-state-active{
    background-color: $yellow1 !important;
    border: none;
    color: $blue1;
  }
  .ui-accordion-header-collapsed{
    background-color: $blue1 !important;
    border: none;
    color: $grey5;
  }
}

#createList{
  border-radius: 3px;
  background-color: #ffb400;
  padding: .5em .5em .5em .7em;
  margin: 2px 0 0 0;
  font-size: 100%;
  line-height: 1.1;
}

.listingsContainer{
  padding: 10px 0px;
  a{
    display: inline-block;
  }
}

.listEditContainer{
  a{
    margin-right: 10px;
  }
  a, span{
    color: $blue3 !important;
  }
}

.productContainer{
  margin: 5px;
  display: inline-block;
}

#activity{
 width: calc( 100% - 250px ); 
 display: inline-block;
 vertical-align: top;
 padding: 10px;

 h3{
  margin: 0px;
 }
}

#topPicksTitle{
  background-color: $yellow1;
  padding: 5px;
}

.product{
  width: 150px;
  height: 150px;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  span{
    line-height: 150px;
  }
}

.addProduct{
  text-align: center;
  background-color: $yellow1;
  background-size: cover;
  height: 150px;
  background-position: center;

  span{
    color: $blue1;
  }
}

.productInnerText{
  display: block;
  font-size: 5em;
}

/* page display */

.page-name{
  display: inline-block;
}

.thumbnail-page{
  display: inline-block;
  width: 32px;
  height: 32px;
  padding: 0px;
}

.img-holder{
  width: 32px;
  height: 32px;
  padding: 0px;
  display: inline-block;
}

#shareContainer{
  .SoMeIcon{
    width: 32px;
    height: 32px;
    display: block;
    margin-bottom: 10px;
    margin-right: 3px;
  }
  .img-holder{
    display: inline-block;
  }
  img{
    padding: 5%;
    width: 100%;
  }
}

#pagesContainer{
  transition: .3s ease;
  margin-bottom: 10px;  

  h6{
    display: inline-block;
    clear: right;
  }  
  a{
    text-decoration: none;
  }
  a:hover{
    text-decoration: none;
  }
}

.page-wrapper{
  input, .img-holder{
    display: inline-block;
  }
  input{
    width: 30px;

    &:hover{
      cursor: pointer;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.pagination{
  margin: 0px;
  ul, ol, li{
    display: none;
  }
}

.hide{
  display: none;
}

.inactive{
  display: none;
}

.social-login{
  color: white;
  display: block; 
  padding: 5px 10px;
  margin: 10px;

  img{
    width: 32px;
    height: 32px;
    display: inline-block;
  }
  h6{
    margin: 0 5px;
    color: white;
    display: inline-block;
  }
}

.facebook-login{
  background-color: #3b5998;
}
.linkedin-login{
  background-color: #0077b5;
}
.buffer-login{
  background-color: #323b43;
}
.email-login{
  background-color: $teal3;
}

.top_icons{
  display: inline-block;
}

.avatar{
  background-size: cover;
  vertical-align: top;
}

.avatar-thumbnail{
  height: 70px;
  width: 70px;
}

.avatar-mini{
  height: 45px;
  width: 45px;
}

.close{
  margin: 5px;
  opacity: 1;

  span{
    color: $red3;
  }  
}

#grid-views{
  clear: both;
  img{
    width: 30px;
    height: 30px;
  }
}

.eventContainer{
  margin-top: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid $grey4;
}

.searchBar{
  margin-left: 5px; 

  form{
    display: inline-block;
    height: 30px;
  }
  form, button{
    display: inline-block;
  }
  input{
    background-color: $grey6;
    padding-left: 15px;
    display: inline-block;
    width: 500px !important;
  }
  input, button{
    height: 30px !important;
  }
  button{
    vertical-align: top;
    border: none;
    background-color: $yellow1;
    &:hover{
      background-color: $yellow3;
    }
  }
}

.feedSelect{
  position: relative;
  width: 300px;

  .selectTitle{
    display: inline-block;
    width: 40%;
    font-size: 0.9em;
    text-align: right;
    background-color: $yellow3;
    padding: 0px 10px 0px 5px;
    margin-top: 10px;
    height: 50px;
    line-height: 50px;
  }
  .feedNames{
    position: relative;
    margin-top: 10px;
    background-color: $yellow1;
    border-radius: 0px;
    border-width: 1px;
    border-color: $grey2;
    border-style: solid;
    padding: 0px 5px 5px 10px;
    font-size: 0.9em;
    float: right;
    height: 50px;
    width: 60%;
    line-height: 50px;
  }
}

.feedSlide{
  background-color: $yellow3;
  padding: 20px 10px 20px 10px;
  text-align: center;
  a{
    display: block;
    font-size: 1.5em;
    text-decoration: none;
    width: 100%;
    color: $blue1;
    padding: 10px 0px;
    &:hover{
      background-color: $yellow2;
    }
  }
  hr{
    border-color: $blue1;
  }
}

.slideDivider{
  background-color: $yellow4
}

.connect_link{
  span, h5{
    color: $teal3;
    display: inline-block;
    margin-left: 10px;
  }

  &:hover{
    span, h5{
      color: $yellow1;
    }
  }
}

.tooltip{
  opacity: 1 !important;

  .tooltip-inner{
    background-color: $yellow1 !important;
    color: $blue1 !important;
    opacity: 1;
  }
  .tooltip-arrow{
    border-top-color: $yellow1 !important;
  }
}

.accolades{
  height: 30px;
  div{
    img{
      height: 100%;
    }
  }
}

.email-notif-disabled{
  label, h3{
    color: grey;
  }
}

.campaign-text{
  h2{
    background-color: $teal3;
    padding: 5px 10px;
    margin: 0px;
    display: inline-block;
    font-size: 1.6em;
    text-align: left;
    color: $grey5;
    span{
      color: $grey5;
    }
  }
  .campaign-title{
    font-size: 2.4em;
    color: $blue2;
    margin-left: 20px;
  }
}

#add-to-campaign{
  text-align: center;
  display: inline-block;
  text-align: center;
}

#campaign-add-post-container{
  margin-top: 20px;
  background-color: $blue5;
  padding: 15px;
}

.campaign-add-post-title{
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 1.7em;
  color: $blue1;
  text-align: left;
  display: inline-block;
}

.campaign-category{
  text-align: left;
  font-size: 1.3em;
  border-bottom: 2px solid $blue1;
}

.campaign_tag{
  background-color: $teal3;
  padding: 5px;
  display: inline-block;
  color: $grey5;
  &:hover{
    background-color: $teal4;
  }
}

.landing_page{
  h1{
    margin: 0px;
  }
  .pop-button{
    text-align: center;
    margin: 30px;
    display: block;
  }
  a{
    font-size: 1.2em;
  }
  img{
    width: 100%;
    border: 5px solid $grey4;
  }
  .row{
    h2{
      font-size: 1.5em;
    }
  }
  .jumbotron{
    margin-top: 20px;
  }
}

//MOBILE RESPONSIVE CODE

#mobileNav{
  display: none;
  .dropdown-menu{
    border: none;
    a{
      background-color: $grey4;
      color: $grey1;
      .timestamp{
        color: $grey2;
      }

      &:hover{
        background-color: $yellow1;
      }
    }
  }
  button{
    background-color: $blue1;
    border: none;
  }
}

#mainNav{
  display: block;  
}

.mobile-show{
  display: none !important;
}

@media (max-width: 768px){
  .mobile-show{
    display: block !important;
  }
  .mobile-hide{
    display: none !important;
  }

//home page
  #logo {
    z-index: 9999;
    position: fixed;
  }
  .jumbotron{
    color: $blue1;
    width: 100%;

    h1{
      font-size: 3.5em;
      font-weight: 600;
    }
    h2{
      font-size: 1.5em;
    }
  }
  .container{
    width: 100%;
    padding: 0px;
  }

  .modal-dialog{
    width: calc(100% - 20px);
  }

  .mobile-button{
    width: calc(100% - 5px);
  }

//navigation
  #mobileNav{
    display: block;
    .dropdown-menu{
      text-align: center;
      width: 100vw;
      a{
        font-size: 2em;
        padding: 20px 0px;
        display: block;
      }
    }
  }
  #mainNav{
    display: none;
  }
  #grid-views{
    display: none;
  }
  #feedContainer{
    padding-right: 10px;
    padding-left: 10px;
  }
  .row{
    margin: 0px;
  }
  .microposts-grid{
    li{
      width: 100%;
    }
  }
  .content{
    width: 100%;
    text-indent: 15px;
    strong{
      text-indent: 0px;
    }
  }
  .content-minified{
    height: auto !important;
  }
  .action-wrapper{
    width: 100%;
  }
  .createPost{
    float: left;
    margin-bottom: 10px;
    width: calc(100% - 5px);
  }
  .navbar-right{
    margin: 0px;
  }
  .dropdown-menu{
    float: right !important;
  }
  .searchBar{
    form{
      width: 100%;
      text-align: center;
    }
    input{
      width: calc(100% - 50px) !important;
      margin-bottom: 0px;
    }
  }
  #footerContainer{
    position: static;
    
  }

//profile
  #coverPhoto{
    width: 100vw;
  }
  #user_display{
    position: absolute;
    width: auto;

    .avatar{
      border: 2px solid $grey5;
      display: inline-block;
      width: 20vw;
      height: 20vw;
    }
    h1{
      display: none;
    }
    .user_company{
      display: none;
    }
  }
  #mobile_user_display{
    display: block;
  }
  #activity{
    width: 100vw;
  }
  .microposts-full{
    img{
      width: 100% !important;
    }
    .square{
      padding-top: 100% !important;
    }
  }
  .feedSelect{
    font-size: 1.3em;
    width: 100%;
    #feed-names{
      width: 60%;
    }
  }
  .comment_message{
    font-size: 1.4em;
    display: block;
    padding-left: 15px;
  }
  #quickstart-wizard{
    padding: 5px !important;
    .pop-button{
      height: auto;
    }
    a{
      width: 100%;
      display: inline-block;
    }
  }
}

@media (max-width: 415px){
  #user_display{
    h1{
      font-size: 1.5em;
    }
  }
}