<div id="footerContainer">
  <p>&copy; 2019 Sigmatic Studios</p>
  <div style="display: inline-block;">
    <%= link_to "Privacy Policy", privacy_policy_path, :class => "policy-link" %>
    <%= link_to "Cookie Policy", cookie_policy_path, :class => "policy-link" %>
    <%= link_to "Terms of Use", terms_path, :class => "policy-link" %>
  </div>
  <%= link_to "Contact", contact_path, :style => "float: right;" %>
</div>